<div id="history-box" class="section" data-anchor="History">

    <div class="content" id="history">
        <div class="slide" data-anchor="history">
            <div class="history-title">
                History
            </div>
        </div>
    </div>

    {{ range .Site.Data.history }}
    <div class="content" id="{{ .historyId }}">
        <div class="slide" data-anchor="{{ .historyId }}">
            <div class="history-title">
                {{ .title}}
            </div>
        </div>
    </div>
    {{ end }}

</div>