<div id="projects-box" class="section" data-anchor="projects">

    <div class="slide" data-anchor="project-0">
        <div class="project-info">
            <div class="title">Projects</div>
            <div class="description">The Projects I have made</div>
        </div>
    </div>

    {{ range where (sort .Data.Pages) "Section" "projects" }}
    <div class="slide" data-anchor="project-{{ .Params.project }}">
        <div class="project-info">
            <div class="project-title">
                {{ .Title | safeHTML }}
            </div>
            <div class="project-year">
                Year {{ .Params.year | safeHTML }}
            </div>

            <div class="project-description">
                {{ .Params.description | safeHTML }}
            </div>
            <div class="project-image">
                <img src="/img/projects/{{ .Params.img }}" />
            </div>
        </div>
    </div>
    {{ end }}

    <div class="nav-mouse">
        <img src="/img/mouse.png" />
        <div class nav-text>Scroll down</div>
    </div>

</div>