<div id="projects-box" class="section" data-anchor="Projects">

    <div class="content" id="projects">
        <div class="slide" data-anchor="projects">
            <div class="project-title">
                Projects
            </div>
        </div>
    </div>

    {{ range .Site.Data.projects }}
    <div class="content" id="{{ .projectId }}">
        <div class="slide" data-anchor="{{ .projectId }}">
            <div class="project-title">
                {{ .title}}
            </div>
        </div>
    </div>
    {{ end }}

    <div class="nav-mouse">
        <img src="/img/mouse.png" />
    </div>

</div>