<div id="projects-box" class="section" data-anchor="Projects">

    <div class="slide" data-anchor="project-0">
        <div class="project-info">
            <div class="title">Projects</div>
            <div class="description">The Projects I have worked on</div>
        </div>
    </div>

    {{ range sort .Site.Data.projects "projectId" }}
    <div class="slide" data-anchor="project-{{.projectId}}">
        <div class="project-info">
            <div class="project-title">
                {{.title}}
            </div>
            <div class="project-year">
                {{.year}}
            </div>
        </div>
        <div class="project-image">
            <img src="/img/projects/{{.img}}" />
        </div>
    </div>
    {{ end }}

    <div class="nav-mouse">
        <img src="/img/mouse.png" />
        <div class nav-text>Scroll down</div>
    </div>
    
</div>