<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/jquery.fullPage.css" type="text/css">
    <link rel="stylesheet" href="/css/sundbysoft.css" type="text/css">
    <link rel="stylesheet" href="/css/navigation.css" type="text/css">
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="stylesheet" href="/css/about.css" type="text/css">
    <link rel="stylesheet" href="/css/projects.css" type="text/css">
    <link rel="stylesheet" href="/css/history.css" type="text/css">
    <link rel="stylesheet" href="/css/contact.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.fullPage.js"></script>
</head>

<body>
    <div id="fullpage">
        {{ partial "home.html" . }}
        {{ partial "about.html" . }} 
        {{ partial "projects.html" . }} 
        {{ partial "history.html" . }} 
        {{ partial "contact.html" . }}
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#fullpage').fullpage({
                navigation: true,
                showActiveTooltip: true,
                navigationTooltips: ['Home', 'About', 'Projects', 'History', 'Contact']
            });
        });
    </script>
</body>

</html>