
#navigation {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.navigation-content {
    position: absolute;
    right: 55px;
    top: 35px;
}

.navigation-content ul {
    margin: 0;
    padding: 0;
}

.navigation-content ul li {
    list-style: none;
    text-align: right;
    margin: 10px 0;
    height: 30px;
}

.navigation-content ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    vertical-align: top;
}

.navigation-content ul li::after {
    display: inline-block;
    margin-left: 20px;
    width: 14px;
	  height: 14px;
	  background-color: #ffffff;
	  border-radius: 7px;
    content: ' ';
    text-align: center;
}

.navigation-content ul li.selected {
    line-height: 30px;
}

.navigation-content ul li.selected::after {
    width: 20px;
	  height: 20px;
    border-radius: 10px;
    margin-right: -2px;
}

.navigation-content ul li.selected a {
    font-size: 22px;        
}

.navigation-content ul li:hover a {
    color: #48B8E7;
}

.navigation-content ul li.selected:hover a {
    color: #ffffff;
}

.navigation-content ul li:hover::after {
    background-color: #48B8E7;
}
